html,
body {
  box-sizing: border-box;
  background-color: #2f2f2f;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #FAFAFA;
  height: 100%;
  width: 100%;
}





.navbar {
  background-color: #038C7F;
}

.mijn-carousel {
  max-height: 300px;       
  overflow: hidden;        
}

.mijn-carousel .carousel-item img {
  height: 300px;           
  width: 100%;
  object-fit: cover;       
}

footer {
  background-color: #038C7F;
  color: #2f2f2f!important;
}


.aside-portfolio {
  border-left: 1px solid #038C7F; 
}



/*.btn-primary {
  --bs-btn-color: #FAFAFA;
  --bs-btn-bg: #2f2f2f;
  --bs-btn-border-color: #587e8c;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #113743;
  --bs-btn-hover-border-color: #113743;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #113743;
  --bs-btn-active-border-color: #113743;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #587e8c;
  --bs-btn-disabled-border-color: #587e8c
}*/

i {
  color: #038C7F;
}

/*.navbar .nav-link.btn, */.active {
  color: #ffea00;
  font-weight: 700;
  /*border-radius: 0.5rem;
  text-align: center;*/
}

hr {
  color: #038C7F!important;
}

.socials.border-start {
  border-left-color: #038C7F!important;
}