html,
body {
  box-sizing: border-box;
  background-color: #2f2f2f;
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #FAFAFA;
  height: 100%;
  width: 100%;
}





.navbar {
  background-color: #038C7F;
}

.mijn-carousel {
  max-height: 300px;               
}

.mijn-carousel .carousel-item img {
  height: 300px;           
  width: 100%;     
}

footer {
  background-color: #038C7F;
  color: #2f2f2f!important;
}


.aside-portfolio {
  border-left: 1px solid #038C7F; 
}


i {
  color: #038C7F;
}

.active {

  font-weight: 700;

}

hr {
  color: #038C7F!important;
}

.socials.border-start {
  border-left-color: #038C7F!important;
}