html,
body {
  box-sizing: border-box;
  background-color: #2f2f2f;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #FAFAFA;
  height: 100%;
  width: 100%;
}


a,
a:hover {
  color: #2f2f2f!important;
  
}



nav {
  background-color: #038C7F;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #038C7F;
  color: #2f2f2f!important;
}

.btn-primary {
  --bs-btn-color: #FAFAFA;
  --bs-btn-bg: #2f2f2f;
  --bs-btn-border-color: #587e8c;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #113743;
  --bs-btn-hover-border-color: #113743;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #113743;
  --bs-btn-active-border-color: #113743;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #587e8c;
  --bs-btn-disabled-border-color: #587e8c
}